<div>
    <ul class="list list--inline">
        <li class="list__item">
            <button class="button" ng-click="standard()">Standard</button>
        </li>
        <li class="list__item">
            <button class="button" ng-click="magic()">Magic</button>
        </li>
        <li class="list__item">
            <button class="button" ng-click="legendary()">Legendary</button>
        </li>
    </ul>

    <h2>Store Contents</h2>
    <ul>
        <li ng-repeat="item in inventory">{{item.name}} ({{item.price}})</li>
    </ul>

    <div class="content">
      <div class="group">
        <label class="label">Name:</label><input ng-model="newItem.name" />

      </div>
      <div class="group">
        <label class="label">Price:</label><input ng-model="newItem.price" />
      </div>
      <div class="group">
        <button class="button" ng-click="addItem()">Add Item</button>
      </div>



    </div>
</div>
